body
{
    color:rgb(216, 14, 14);
    text-align: left;
    font-family: 'Franklin Gothic Medium';

}

#container 
{
    width: 80%;
    padding: 1em;
    text-align: left;
    border: 1px solid blue;
    margin: 0 auto;
}

#cabecera 
{
    background: rgb(56, 68, 226);
    box-shadow: 0px 5px 70px 0px rgba(24, 9, 231, 0.95); /* //crea un sombreado al borde */
    color: white;
    font-weight: bolder;
    margin: 0;
    padding: 0.5em;


}

#cabecera #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

#container h1 
{
    font-size: 50PX;

}

#post
{
    padding: 1em;
}