body
{
    color:black;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

#container 
{
    width: 80%;
    padding: 1em;
    text-align: left;
    border: 1px solid blue;
    margin: 0 auto;
}

#container h1 
{
    font-size: 50PX;

}